body {
	font-family: Microsoft YaHei,STHeiti;
	margin: 0;
}
ul {
	color: white;
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: initial;
	-webkit-box-sizing: initial;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: initial;
	-webkit-box-sizing: initial;
}
.fontHuge{
	font-size: 32px;
	-webkit-font-smoothing: sub-antialiased;
	text-shadow: 0 0 0.5px rgba(0,0,0,0.12);
	-webkit-text-stroke: 0.2px rgba(0,0,0,0.26);
}
.fontLarge{
	font-size: 16px;
	-webkit-font-smoothing: sub-antialiased;
	text-shadow: 0 0 0.5px rgba(0,0,0,0.12);
	-webkit-text-stroke: 0.2px rgba(0,0,0,0.26);
}
.fontNormal{
	font-size: 14px;
	-webkit-font-smoothing: sub-antialiased;
	text-shadow: 0 0 0.5px rgba(0,0,0,0.12);
	-webkit-text-stroke: 0.2px rgba(0,0,0,0.26);
}
.fontSmall{
	font-size: 12px;
	-webkit-font-smoothing: sub-antialiased;
	text-shadow: 0 0 0.5px rgba(0,0,0,0.12);
	-webkit-text-stroke: 0.2px rgba(0,0,0,0.26);
}
.fontMin{
	font-size: 10px;
	-webkit-font-smoothing: sub-antialiased;
	text-shadow: 0 0 0.5px rgba(0,0,0,0.12);
	-webkit-text-stroke: 0.2px rgba(0,0,0,0.26);
}
.head {
	position: fixed;
	display: block;
	width: 100%;
	height: 160px;
	top: 0 ;
	z-index: 5;
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: 50%;
	box-shadow: 0 0 6px 3px rgba(0,0,0,0.30);
}
.headContainer {
	position: relative;
	display: block;
	width: 1136px;
	height: 160px;
	margin: auto;
	margin-top: 4px;
}
.mainMenu {
	position: relative;
	display: block;

}
.mainMenu li {
	position: relative;
	display: block;
	float: right;
	width: 72px;
}
.logo {
	position: relative;
	display: block;
	float: left;
	width: 144px;
}
.menuHover {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-moz-transition-property: opacity;\
	-moz-transition-duration: 0.2s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.2s;
}
.menuHover:hover {
	opacity: 0.7;
	cursor: pointer;
}
.menuFirstBtn {
	position: relative;
	display: block;
	width: 64px;
	margin: auto;
	padding-top: 8px;
	padding-bottom: 6px;
	text-align: center;
	z-index: 1;
}
.pointerDown {
	position: absolute;
	display: block;
	top: 13px;
	right: 10px;
	cursor: pointer;
	z-index: 0;
}
.content {
	margin: auto;
}
.contentContainer {
	position: relative;
	display: block;
	width:816px;
	padding-left:160px;
	padding-right:160px;
	padding-bottom: 120px;
	margin: auto;
	margin-top: 240px;
	z-index: 0;
}
.content ul {
	color: black;
}
.sideBar {
	position: relative;
	display: inline;
	float: left;
	width: 156px;
	border-left: 4px solid #6487ab;
}
.subMenuSummary {
	color: rgba(0,0,0,0.54);
	font-weight: 500;
	position: relative;
	display: block;
	margin-top: 4px;
	margin-left: 16px;
	margin-bottom: 24px;
}
.subMenu {
	position: relative;
	display: block;
}
.subMenuBtn {
	position: relative;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
}
.naviLocation{
	position: relative;
	display: block;
	float: right;
	clear: right;
	margin-top:28px;
	margin-right: 20px;
}
.naviFirstBtnActive{
	border-bottom: 2px solid rgba(255,255,255,0.6);
}